---
import Container from "../../templates/Container.astro";
import Project from "../molecules/Project.astro";
import ProjectIcon from "../../assets/palette.svg";
import { projects } from "../../data/projects.js";
---

<section id="projects" class="bg-[url('../assets/vectors/wireframe_vector.svg')] bg-cover flex w-full bg-gray-100 py-16 md:py-20 xl:py-28 scroll-mt-12">
  <Container>
    <div class="flex flex-col w-full items-center gap-8 md:gap-14 xl:gap-16">
      <div class="flex w-full items-center gap-3.5 md:gap-5 xl:gap-6">
        <ProjectIcon class="size-7 md:size-9 xl:size-12 fill-gray-800"/>
        <h2 class="font-brand font-semibold w-full text-3xl md:text-4xl xl:text-5xl text-gray-800">Proyectos</h2>
      </div>
      {projects.map((project) => (
        <Project 
          title={project.title}
          category={project.category}
          description={project.description}
          imageUrl={`${project.cover_image}`}
          projectId={project.id}
          href={`/portfolio/project/${project.id}`}
        />
      ))}
    </div>
  </Container>
</section>