---
import OpenInNewIcon from '../../assets/icons/open_in_new.svg'
import Icon from "../../assets/business_center.svg";
import Container from "../../templates/Container.astro";
import Experience from "../molecules/Experience.astro";
import Button from "../atoms/Button.astro";
import { works } from "../../data/works.js";
---

<section id="work-experience" class="flex w-full bg-gray-50 py-16 md:py-20 xl:py-28">
  <Container>
    <div class="flex flex-col gap-6 md:gap-8">
      <div class="flex items-center gap-3.5 mb-4 md:gap-5 md:mb-5 xl:gap-6 xl:mb-8">
        <Icon class="size-7 md:size-9 xl:size-12 fill-gray-800"/>
        <h2 class="font-brand font-semibold w-full text-3xl md:text-4xl xl:text-5xl text-gray-800">Experiencia laboral</h2>
      </div>

      {works.map((work) => (
        <Experience
          title={work.title}
          company={work.company}
          urlCompany={work.urlCompany}
          startDate={work.startDate}
          endDate={work.endDate}
          description={work.description}
        />
      ))}
      <div class="flex justify-end mt-4 md:mt-6 xl:mt-8">
        <Button href="/CV-Cristian.pdf" target="_blank" type="outline">Ver CV <OpenInNewIcon class="size-[18px] md:size-5 xl:size-6 fill-primary-600"/></Button>
      </div>
    </div>
  </Container>
</section>
